@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@font-face {
  font-family: 'NotoColorEmoji';
  src: url('https://raw.githack.com/googlei18n/noto-emoji/master/fonts/NotoColorEmoji.ttf')
    format('truetype');
}
#ogimage {
  font-family: 'Noto Sans JP', sans-serif, 'NotoColorEmoji';
}
